
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">

      <h3><p navbar-brand class="text-primary text-center">Atmopheric Chemistry and Physics Modeling Group</p><h4>
	
	<div class="collapse navbar-collapse" id="navbar-collapse-1" style="position:relative; left:14%">
	  <ul class="nav navbar-nav">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">HOME</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">PEOPLE</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research">RESEARCH</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">PUBLICATIONS</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/teaching">TEACHING</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/openings">OPENINGS</a></li>
		</ul>
	</div>
  </div>
</div>

